agent.enabled=true
agent.transformer=javaassist
agent.timer.interval=10
agent.dump.interval=1

#agent.exclude=sun,com.sun,java,javax,sun.util,org.apache.juli,org.apache.catalina,org.apache.tomcat,com.focusit.agent,com.intellij
#agent.exclude.ignore=com.focusit.agent.example,java.sql

agent.include=com.focusit.agent.example
#agent.include.ignore=com.focusit.agent.example,java.sql

agent.jvm.monitoring.interval=500
agent.dump.jvm.batch=10
agent.dump.statistics.batch=1000

methods.file=
statistics.file=
jvm.file=

agent.dumptype=disk