agent.enabled=true
agent.transformer=javaassist
agent.exclude=sun,com.sun,java,javax,sun.util,org.apache.juli,org.apache.catalina,org.apache.tomcat,com.focusit.agent
agent.timer.interval=10
agent.dump.interval=1
agent.exclude.ingore=com.focusit.agent.example,java.sql

